<section>
    <a href="/dashboard" class="is-pulled-right"><button type="button" class="btn btn-secondary">Back to Dashboard</button>
</a>
  <h2 class="title">Create new post</h2><hr>

  <form class="new_post_form">
<div class="mb-3">
  <label for="post_title" class="form-label fw-bold">Title</label>
  <input type="text" class="form-control" id="post_title" placeholder="My post Title">
</div>
<div class="mb-3">
  <label for="post_content" class="form-label fw-bold">Content</label>
  <input type="text" class="form-control" id="post_content" placeholder="My Post Content">
</div>
  <div class="d-grid gap-2">
  <button class="btn btn-primary" type="button" id="create-post-btn">POST</button>
</div>
  </form>
</section>

<script src="/js/create_post.js"></script>