{{!-- login --}}
<div class="container">
  <div class="row">

    <div class="col .bg-success">
      <h2>Login</h2>
      <form class="login_form">
        <div class="mb-3">
          <label for="email_login" class="form-label">Email:</label>
          <input type="text" class="form-control" id="email_login" placeholder="Enter email">
        </div>
        <div class="mb-3">
          <label for="password_login" class="form-label">Password:</label>
          <input type="text" class="form-control" id="password_login" placeholder="Enter Password">
        </div>
        <button type="button" class="btn btn-primary"id='login_btn'>Login</button>
      </form>
    </div>


    {{!-- sign up --}}
    <div class="col .bg-success">
      <h2>Sign up</h2>
      <form class="signup_form">
        <div class="mb-3">
          <label for="name_signup" class="form-label">Name:</label>
          <input type="text" class="form-control" id="name_signup" placeholder="Enter name">
        </div>
        <div class="mb-3">
          <label for="email_signup" class="form-label">Email:</label>
          <input type="text" class="form-control" id="email_signup" placeholder="Enter email">
        </div>
        <div class="mb-3">
          <label for="password_signup" class="form-label">Password:</label>
          <input type="text" class="form-control" id="password_login" placeholder="Enter Password">
        </div>
        <button type="button" class="btn btn-success" id="signup_btn">Signup</button>

      </form>
    </div>
  </div>
</div>
<!-- javascript file-->
<script src="/js/login.js"></script>
<script src="/js/signup"